<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{{
			if(title ~= nil) then
				title = title .. " - " .. tsuki.config.name
			else
				title = tsuki.config.name
			end
		}}}
		<title>{{ title }}</title>
		
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="description" content="{{ meta_desc or tsuki.config.desc }}" />
		
		{{{ component("_layouts.fonts", {csp_nonce = csp_nonce}) }}}
		<link rel="stylesheet" href="/style.css" nonce="{{csp_nonce}}"/>
		<script async src="/msgpack.min.js" nonce="{{csp_nonce}}"></script>
		<script nonce="{{csp_nonce}}">
			let serverTimezone = "{{! tsuki.config.serverTimezone !}}";
		</script>
	</head>
	<body>
		<header>
			<a href="/" id="logo" title="Homepage">
				<img src="/icon.png" width="30" height="30" alt="Logo"/>
				<span>{{ tsuki.config.name }}</span>
			</a>
			<span id="links">
				{{{ for i,b in ipairs(tsuki.config.boards) do }}}
				<a href="/{{b.tag}}" title="{{b.name}}">/{{b.tag}}/</a>
				{{{ end }}}
			</span>
		</header>
		<div id="main" class="padding">
			{{! section("body") !}}
		</div>
		<div id="gallery">
			<div id="gallery-info">
				<div id="gallery-info-number"></div>
				<div id="gallery-info-text"></div>
				<div id="gallery-info-close-wrapper">
					<div id="gallery-info-close"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6Z"/></svg></div>
				</div>
			</div>
			<div id="gallery-post"></div>
			<div id="gallery-media-wrapper">
				<svg id="gallery-media-back" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m14.125 17.55-.95-.975 3.95-3.95H4.275v-1.35h12.85l-3.95-3.95.95-.975 5.6 5.6Z"/></svg>
				<div id="gallery-media"></div>
				<svg id="gallery-media-forward" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m14.125 17.55-.95-.975 3.95-3.95H4.275v-1.35h12.85l-3.95-3.95.95-.975 5.6 5.6Z"/></svg>
			</div>
		</div>

		<script async src="/script.js" nonce="{{csp_nonce}}"></script>
		<script async src="/ui-html.js" nonce="{{csp_nonce}}"></script>
		<!-- All code that relies on scripts above must be wrapped in window.addEventListener('load', ...) -->
		{{! section("scripts") !}}
	</body>
</html>
