<form <?id id="{id}" ?>method="POST" action="/api/board/{board}/post" api>
	<?thread <input type="hidden" name="thread" value="{thread}" db-type="int" /> ?>
	<?!thread
		<label>
			<div class="label">Subject</div>
			<input type="text" name="subject" />
		</label>
	?>
	<label>
		<div class="label">Name</div>
		<input type="text" name="name" />
	</label>
	<label>
		<div class="label">Comment</div>
		<textarea type="text" name="content"></textarea>
	</label>
	<label>
		<div class="label">Files</div>
		<input type="file" name="files" multiple/>
	</label>
	<input type="submit" value="Submit" />
</form>