<div id="p{id}" class="post<?reply  reply?>">
	<div class="info">
		<?!reply <?subject <span class="subject">{subject}</span>?>?>
		<span class="name">{name}</span>
		<span class="date">{date}</span>
		<span class="post-id"><a class="post-id-ref" href="{postUrl}" title="Go to this post">Nº</a><a class="post-id-number" href="{postUrl}" title="Reply to this post">{id}</a></span>
		<?threadUrl <a title="Go to thread" href="{threadUrl}">[Reply]</a>?>
	</div>
	<div class="content">{content}</div>
	<div class="thumbs">
		<div[files] class="thumb-wrapper">
			<a class="thumb-link" href="{url}" target="_blank" title="[{hSize}] {!name!}"><img class="thumb" src="{thumb_url}" loading="lazy" width="{iw}" height="{ih}" alt="[{hSize}] {!name!}" /></a>
			<div class="thumb-info-wrapper">
				<div class="thumb-info">[{hSize}] {!name!}</div>
			</div>
		</div>
	</div>
	<?!nFiles="0" <div class="nfiles">{nFiles} file<?!nFiles="1" s?></div>?>
</div>
