{{{ extends("_layouts.layout", {
	title = "/"..board.tag.."/",
}) }}}

{{{ start_section("body") }}}
<div class="text-center">
	<h1 class="board-name">/{{board.tag}}/ - {{board.name}}</h1>
</div>

<div class="max-width margin-auto">
	{{! ui("form", {
		id = "thread-form",
		board = board.tag
	}) !}}
</div>

<hr/>

{{{ for i,thread in pairs(index) do }}}
<div class="post-group">
	
	<!-- Thread -->
	{{! ui("post", {
		id = thread.id,
		postUrl = ("/%s/%d#p%d"):format(board.tag, thread.id, thread.id),
		threadUrl = ("/%s/%d"):format(board.tag, thread.id),
		subject = thread.subject,
		name = thread.name or tsuki.config.defaultUserName,
		date = os.date("%d/%m/%Y %H:%M:%S", thread.date),
		content = thread.content,
		files = thread.files,
		nFiles = thread.files and #thread.files or 0
	}) !}}
	
	<!-- Replies -->
	{{{ for i,reply in pairs(thread.replies) do }}}
		{{! ui("post", {
			reply = true,
			id = reply.id,
			postUrl = ("/%s/%d#p%d"):format(board.tag, thread.id, thread.id),
			subject = reply.subject,
			name = reply.name or tsuki.config.defaultUserName,
			date = os.date("%d/%m/%Y %H:%M:%S", reply.date),
			content = reply.content,
			files = reply.files,
			nFiles = reply.files and #reply.files or 0
		}) !}}
	{{{ end }}}

</div>
{{{ end }}}

{{! ui("popup-form", {
	board = board.tag
}) !}}

{{{ end_section() }}}

{{{ start_section('scripts') }}}
<script nonce="{{csp_nonce}}">
	
	
	window.addEventListener('load', e => {
		let threadForm = document.getElementById('thread-form');
		threadForm.addEventListener('api-response', e => {
			let id = e.response.data.id;
			window.location = utils.url.thread("{{board.tag}}", id);
		});
	});
</script>
{{{ end_section() }}}
