{{{ extends("_layouts.layout", {
	title = "Homepage"
}) }}}

{{{ start_section("body") }}}
<div class="max-width margin-auto bg-secondary padding">
	<img class="block max-width-small margin-auto" src="/logo.png" />
	<div class="">
		<h2>Boards</h2>
		{{{ for i,b in ipairs(tsuki.config.boards) do }}}
		<div class="margin-mini"><a href="/{{b.tag}}" title="{{b.name}}">/{{b.tag}}/ - {{b.name}}</a></div>
		{{{ end }}}
	</div>
</div>
{{{ end_section() }}}
