{{{ extends("_layouts.layout", {
	title = "/" .. board.tag .. "/ - " .. (thread.subject or ""),
	meta_desc = thread.content
}) }}}

{{{ start_section("body") }}}
<div class="text-center">
	<h1 class="board-name">/{{board.tag}}/ - {{board.name}}</h1>
</div>

<!-- <div class="max-width margin-auto">
	{{! ui("form", {
		thread = thread.id,
		board = board.tag
	}) !}}
</div> -->

<div class="text-center">
	<a href="#popup-form">[Reply]</a>
</div>

<hr/>

<div id="posts">
<!-- Thread -->
{{! ui("post", {
	id = thread.id,
	postUrl = ("/%s/%d#p%d"):format(board.tag, thread.id, thread.id),
	subject = thread.subject,
	name = thread.name or tsuki.config.defaultUserName,
	date = os.date("%d/%m/%Y %H:%M:%S", thread.date),
	content = thread.content,
	files = thread.files,
	nFiles = thread.files and #thread.files or 0
}) !}}

<!-- Replies -->
{{{ for i,reply in pairs(thread.replies) do }}}
	{{! ui("post", {
		reply = true,
		id = reply.id,
		postUrl = ("/%s/%d#p%d"):format(board.tag, thread.id, reply.id),
		name = reply.name or tsuki.config.defaultUserName,
		date = os.date("%d/%m/%Y %H:%M:%S", reply.date),
		content = reply.content,
		files = reply.files,
		nFiles = reply.files and #reply.files or 0
	}) !}}
{{{ end }}}

</div>
<div id="thread-footer">
	[<a class="no-decoration" href="/{{ board.tag }}">Return</a>]
	[<a id="update-button" class="no-decoration" href="#">Update</a>]
	[<label><input id="auto-update" type="checkbox" checked/> Auto</label>] <span id="auto-update-text"></span>
</div>
{{! ui("popup-form", {
	thread = thread.id,
	board = board.tag
}) !}}

{{{ end_section() }}}

{{{ start_section('scripts') }}}
{{! uiTemplate("post") !}}
<script nonce="{{csp_nonce}}">
	let reloadTimeout = 10; // In seconds
	let posts = document.getElementById('posts');
	let icon = document.querySelector('link[rel="icon"]');
	let title = document.querySelector('title');
	let originalTitle = title.innerHTML;
	let titleReplies = 0;
	
	let board = {{! json.encode(board) !}};
	let thread = {{! json.encode(thread) !}};
	let defaultUserName = "{{! tsuki.config.defaultUserName !}}";
	
	let updateButton = document.getElementById('update-button');
	let autoUpdate = document.getElementById('auto-update');
	let autoUpdateText = document.getElementById('auto-update-text');
	
	let timeout, counter = reloadTimeout;
	function AutoUpdate(){
		autoUpdateText.textContent = "";
		if(autoUpdate.checked){
			counter = reloadTimeout;
			timer();
		}
	}
	function timer(){
		clearTimeout(timeout);
		if(--counter == 0){
			counter = reloadTimeout;
			reload();
		}else{
			autoUpdateText.textContent = counter;
			timeout = setTimeout(timer, 1000);
		}
	}
	function reload(){
		autoUpdateText.textContent = "Updating...";
		let last = thread.replies[thread.replies.length-1];
		api.get(`/api/board/${board.tag}/${thread.id}`, {since: last?last.date+1:thread.date+1}).then(data => {
			AutoUpdate();
				
			let replies = data.data;
			if(replies.length == 0) return;
			titleReplies += replies.length;
			title.innerHTML = `(${titleReplies}) ` + originalTitle;
			icon.setAttribute('href', "/icon-notif.ico");
			title
			thread.replies.push(...replies);
			replies.forEach(reply => {
				try{
					reply.files = JSON.parse(reply.files);
				}catch(e){
					reply.files = [];
				}
				
				reply.files = reply.files.map((file, i) => {
					i++;
					file.ext = ""+file.name.match(/\.([^\.]+)$/g);
					
					file.thumb_url = `/files/${board.tag}/${thread.id}/${reply.id}-${i}s.webp`; // TODO ext
					file.url = `/files/${board.tag}/${thread.id}/${reply.id}-${i}${file.ext}`;
					
					file.type = ""+file.mime.match(/^[^/]+/g);
					file.hSize = utils.humanReadableBytes(file.size);
					return file;
				});
				
				reply.subject = utils.htmlEscape(reply.subject);
				reply.name = utils.htmlEscape(reply.name);
				reply.content = utils.htmlEscape(reply.content);
				
				let post = uiHtml.render("post", {
					reply: true,
					id: reply.id,
					postUrl: `/${board.tag}/${thread.id}#${reply.id}`,
					name: reply.name || defaultUserName,
					date: utils.date(reply.date*1000),
					content: reply.content,
					files: reply.files,
					nFiles: reply.files.length
				});
				
				posts.appendChild(post);
			});
		}).catch(error => {
			console.log(error);
		});
	}
	window.addEventListener("load", e => {
		AutoUpdate();
	});
	
	updateButton.addEventListener('click', e => {
		e.stopPropagation();
		e.preventDefault();
		
		reload();
	});
	autoUpdate.addEventListener('change', e => {
		e.stopPropagation();
		e.preventDefault();
		
		if(!autoUpdate.checked){
			clearTimeout(timeout);
			autoUpdateText.textContent = "";
		}else{
			AutoUpdate();
		}
	});
	
	window.addEventListener("scroll", e => {
		if(document.documentElement.clientHeight + document.documentElement.scrollTop == document.documentElement.scrollHeight){
			titleReplies = 0;
			title.innerHTML = originalTitle;
			icon.setAttribute('href', "/favicon.ico");
		}
	});
</script>
{{{ end_section() }}}
