:root{
	/* Body background color */
	--background: #151020;
	/* Background color of elements to distinguish from body background */
	--background-secondary: #302648;
	/* Text color */
	--color: #fff;
	/* Color to pronounce elements and links */
	--accent: #da2ef4;
	/* Color of text or other elements on top of an accent background */
	--accent-foreground: var(--background);
	/* Secondary accent */
	--secondary: #2bd512;
	/* Color of text or other elements on top of a secondary accent background */
	--secondary-foreground: var(--background);
	
	--color-subject: var(--accent);
	--color-name: var(--secondary);
	--color-date: var(--color);
	
	--thumb-info-background: var(--secondary);
	--thumb-info-color: var(--secondary-foreground);

	--link-color: var(--accent);
	--link-color-hover: #fff;
	--link-color-visited: var(--accent);

	--border-color: #62489f;

	--max-width: 1250px;
	--max-width-small: 500px;
}

*{
	box-sizing: border-box;
}
body{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	margin: 0;
	color: var(--color);
	background: var(--background);
}
img{
	max-width: 100%;
	max-height: 100%;
}

a{
	color: var(--link-color);
}
a:visited{
	color: var(--link-color-visited);
}
a:hover{
	color: var(--link-color-hover);
}

h1, h2, h3, h4, h5, h6{
	font-family: "Ubuntu", serif;
	font-weight: 300;
	margin: 0;
}

hr{
	border-color: var(--border-color);
}

form{
	max-width: 500px;
	padding: 5px;
	margin: auto;
	background: var(--background-secondary);
}
form input,
form textarea{
	width: 100%;
	border-radius: 0;
	border: 0;
	padding: 5px;
}
input:focus,
textarea:focus{
	outline: none;
}
form label {
  margin-bottom: 10px;
  display: block;
}
label > .label{
	margin-bottom: 5px;
}

/* Utils */
.bg-secondary{
	background: var(--background-secondary);
}
.max-width{
	width: 100%;
	max-width: var(--max-width);
}
.max-width-small{
	width: 100%;
	max-width: var(--max-width-small);
}

.no-decoration{
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.block{
	display: block;
}
.margin-auto{
	margin: auto;
}
.padding{
	padding: 20px;
}
.padding-small{
	padding: 10px;
}
.padding-mini{
	padding: 5px;
}
.margin{
	margin: 20px;
}
.margin-small{
	margin: 10px;
}
.margin-mini{
	margin: 5px;
}

/* Elements */
header{
	display: flex;
	height: 50px;
	padding: 10px;
}
header #logo{
	display: inline-flex;
	align-items: center;
	height: 100%;
	color: var(--accent);
	font-size: 20px;
	text-decoration: none;
}
header #logo:hover{
	color: var(--link-color-hover);
}
header #logo img{
	margin-right: 10px;
}
header #links {
	display: inline-flex;
	align-items: center;
	height: 100%;
	margin-left: 20px;
	gap: 10px;
}

#gallery{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: grid;
  grid-template-rows: max-content minmax(1px, 1fr);
  grid-template-columns: max-content 1fr;
  justify-items: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
	z-index: 100;
}
#gallery-info {
	grid-column: 1/3;
	display: grid;
	grid-template-areas: "a b c";
	grid-template-columns: 1fr auto 1fr;
	justify-items: center;
  align-items: center;
  width: 100%;
  background: var(--accent);
  color: var(--accent-foreground);
	font-weight: 400;
}
#gallery:not(.show){
	display: none;
}
#gallery-info-number,
#gallery-info-text{
	margin: 0px 10px;
}
#gallery-info-number{
	grid-area: a;
	justify-self: flex-start;
}
#gallery-info-text{
	width: 100%;
	grid-area: b;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#gallery-info-number,
#gallery-info-close-wrapper{
	min-width: 75px;
}
#gallery-info-close-wrapper{
	grid-area: c;
	justify-self: flex-end;
	display: flex;
	justify-content: flex-end;
}
#gallery-info-close{
	padding: 5px;
	cursor: pointer;
}
#gallery-info-close svg{
	display: block;
	fill: var(--accent-foreground);
}

#gallery-post{
	width: 500px;
	height: 100%;
	overflow: auto;
}
#gallery-post .post{
	min-height: 100%;
	align-content: flex-start;
	margin: 0;
}

#gallery #gallery-media-wrapper {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: 100%;
	align-items: center;
	width: 100%;
  height: 100%;
  padding: 20px 0px;
}
#gallery.first #gallery-media-back,
#gallery.last #gallery-media-forward{
	visibility: hidden;
	pointer-events: none;
}
#gallery-media-wrapper > svg {
  border-radius: 100%;
  fill: white;
  padding: 8px;
  box-sizing: content-box;
  margin: 10px;
  cursor: pointer;
}
#gallery-media-wrapper > svg:hover{
	background: rgba(255,255,255,0.2);
}
#gallery-media-back{
	transform: rotate(180deg);
}
#gallery #gallery-media{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
#gallery #gallery-media img{
	border: 1px solid rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.5);
}

.board-name{
	margin-bottom: 20px;
}

.post-group{
	margin-bottom: 20px;
	border-bottom: 1px solid var(--color);
}
.post {
  display: grid;
  background: var(--background-secondary);
  padding: 10px;
	margin-bottom: 20px;
}
.post.reply{
	margin-left: 20px;
}
.post-info{
	font-family: "Ubuntu", sans-serif;
}
.subject{
	font-weight: 400;
	color: var(--color-subject);
}
.name{
	font-weight: 400;
	color: var(--color-name);
}
.date{
	color: var(--color-date);
}
.post-id a {
  color: var(--color);
  text-decoration: none;
}
.post-id a:hover {
  color: var(--accent);
  text-decoration: underline;
}
.content{
	white-space: pre-wrap;
	word-break: break-all;
	margin-top: 5px;
}
.thumbs{
	margin-top: 10px;
}
.thumb-wrapper {
  display: inline-grid;
  grid-template-columns: min-content;
  position: relative;
  padding-bottom: 1.6em;
  font-size: 16px;
	margin-bottom: 10px;
}
.thumb-wrapper:not(:last-child){
	margin-right: 10px;
}
.thumb-link{
	text-decoration: none;
}
.thumb {
	display: inline-block;
  max-width: 300px;
  max-height: 300px;
	color: white;
	
	vertical-align: bottom;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumb-info-wrapper{
	position: absolute;
	top: 100%;
	width: 100%;
	margin-top: -1.6em;
	padding: 0.2em;
  background: var(--thumb-info-background);
	color: var(--thumb-info-color);
	z-index: 1;
}
.thumb-info {
  max-width: 100%;
	line-height: 1.2em;
  height: 1.2em;
  min-height: 1.2em;
	font-weight: 400;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumb-wrapper:hover .thumb-info{
	height: auto;
  white-space: normal;
	
	max-height: calc(1.2em * 5);
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	display: -webkit-box;
}

#thread-footer{
	border: 1px solid var(--border-color);
	border-left: none;
	border-right: none;
	padding: 10px;
}

.popup-form{
	position: fixed;
	border: 2px solid var(--accent);
	top: 0;
	z-index: 1000;
}
.popup-form:not(.show){
	display: none;
}
.popup-form-header{
	display: grid;
	grid-template-columns: 24px 1fr 24px;
	align-items: center;
	justify-items: center;
	cursor: grab;
	background: var(--accent);
	color: var(--accent-foreground);
	fill: var(--accent-foreground);
}
.popup-form-header::before{
	content: "";
	display: block;
}
.popup-form-close svg{
	display: block;
	cursor: pointer;
}
.popup-form form{
	max-width: none;
	padding: 5px;
}
.popup-form textarea{
	min-width: 300px;
	min-height: 150px;
}

@media (max-width: 767px){
	#gallery-info{
		grid-template-columns: 1fr;
		grid-template-areas: "a c" "b b";
	}
	#gallery-info-text{
		width: 100%;
		padding: 0px 10px;
		padding-bottom: 5px;
		text-align: center;
	}
	
	
	.thumbs{
		display: flex;
		overflow: auto;
		align-items: flex-end;
	}
	.thumb-wrapper{
  	padding-bottom: 0;
	}
	.thumb-info-wrapper {
		position: relative;
		top: auto;
		margin-top: 0;
	}
	.thumb-info {
		height: auto;
	  word-break: break-all;
	  white-space: normal;
	}
}
@media (max-width: 1249px){
	#gallery{
		grid-template-columns: 1fr;
	}
	#gallery-post{
		display: none;
	}
	#gallery #gallery-media-wrapper{
		grid-template-columns: 1fr;
	}
	#gallery-media-wrapper > svg{
		position: absolute;
		top: 50%;
		background: rgba(0,0,0,0.4);
	}
	#gallery-media-wrapper > svg:hover{
		background: rgba(0,0,0,0.6);
	}
	#gallery-media-back{
		left: 0;
	}
	#gallery-media-forward{
		right: 0;
	}
}
